<div class="container mt-5">
  <h1>My movie lists</h1>
  <hr class="col-3">
    <div class="col-6">
      <%# <ul class="list-group"> %>
        <% @lists.each do |list| %>
          <li class="list-group-item">
              <% if list.photo != nil %>
              <div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>')">
              <% else%>
              <div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url('<%= list.url %>')">
              <% end %>
              <%= link_to list.name, list_path(list) %>
              </div>
          </li>
        <% end %>
      <%# </ul> %>
      <%= link_to "Add new list", "new", class: "btn btn-primary mt-3" %>
    </div>
</div>
